.container {
    display: flex;
    height: calc(100vh - 60px - 40px); 
  }
  
  .left-section {
    width: 250px;
    background-color: #F0F0F0; 
    color: #111111; /* Black */
    padding: 20px;
  }
  
  .left-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-section li {
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #3D5A80; /* Lighter Navy */
    color: #FFFFFF; /* White */
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .left-section li:hover {
    background-color: #98C1D9; /* Even Lighter Navy */
  }
  
  .right-section {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF; /* White */
  }

  .dashboard-title {
    font-size: 2rem;
    color: #001F3F; /* Navy */
    text-align: center;
    margin-top: 20px;
    border-bottom: 2px solid #FF4136; /* Red */
    padding-bottom: 10px;
  }
  