<div class="container">
    <div class="left-section">
        <ul>
            <li [routerLink]="['/student-dashboard/enroll']">Enroll</li>
            <li [routerLink]="['/student-dashboard/enrolled-courses']">My Courses</li>
            <li [routerLink]="['/student-dashboard/get-result']">Result History</li>
            <li [routerLink]="['/student-dashboard/get-payment']">Payment History</li> 
            <li [routerLink]="['/user/profile']">User Profile</li> 
          </ul> 
    </div>
    <div class="right-section">
        <h1 class="dashboard-title">Student Dashboard</h1>
    </div>
    
  </div>
  
  
 
  


  
