<div class="container">
    <div class="left-section">
        <ul>
            <li [routerLink]="['/student-dashboard/enroll']">Enroll</li>
            <li [routerLink]="['/student-dashboard/enrolled-courses']">My Courses</li>
            <!-- <li [routerLink]="['/tutor-dashboard/create-quiz']">Create Quiz</li>
            <li [routerLink]="['/tutor-dashboard/create-result']">Create Results</li>
            <li [routerLink]="['/tutor-dashboard/remove-course']">Remove Course</li>
            <li [routerLink]="['/user/profile']">User Profile</li>    -->
          </ul> 
    </div>
    <div class="right-section">
        <h1 class="dashboard-title">Student Dashboard</h1>
    </div>
    
  </div>
  
  
 
  


  
