<header class="header">
    <div class="container">
      <div class="branding">
        <h1 class="logo">Edurise</h1>
        <p class="tagline">Rise Above, Learn Beyond</p>
      </div>
      <nav class="nav">
        <a routerLink="/user/login" class="nav-link">Login</a>
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">Courses</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Contact</a>
      </nav>
    </div>
  </header>