h3 {
    color: #001F3F; /* Navy */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #001F3F; /* Navy */
    border-radius: 4px;
    color: #111111; /* Black */
    background-color: #FFFFFF; /* White */
  }
  
  button {
    background-color: #FF4136; /* Red */
    color: #FFFFFF; /* White */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: auto;
  }
  
  button:hover {
    background-color: #E6392E; /* Darker Red */
  }
  