<div class="container">
    <div class="left-section">
        <ul>
            <li [routerLink]="['/dashboards/ad-view-all-users']">View All Users</li>
            <li [routerLink]="['/dashboards/ad-add-user']">Add User</li>
            <li [routerLink]="['/dashboards/add-remove-user']">Remove User</li>
            <li [routerLink]="['/dashboards/ad-payment-list']">View Payments</li>
            <li [routerLink]="['/dashboards/ad-enrolls-list']">View Enrollments</li>
            <li [routerLink]="['/user/profile']">User Profile</li> 
          </ul> 
    </div>
    <div class="right-section">
        <h1 class="dashboard-title">Admin Dashboard</h1>
        <!-- Future content goes here -->
      </div>
    
  </div>
  
  
 
  


  