<h3>Register</h3>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text" />
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
    </div>

    <div>
        <label for="userType">userType:</label>
        <input id="userType" formControlName="userType" type="text" />
    </div>
  
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
