<div class="container">
    <div class="left-section">
        <ul>
            <li [routerLink]="['/tutor-dashboard/get-my-created-courses']">My Courses</li>
            <li [routerLink]="['/tutor-dashboard/create-course']">Create Course</li>
            <li [routerLink]="['/tutor-dashboard/create-result']">Create Results</li>
            <li [routerLink]="['/quiz/new-quiz']">Create Quiz</li>
            <li [routerLink]="['/user/profile']">User Profile</li>  
          </ul> 
    </div>
    <div class="right-section">
        <h1 class="dashboard-title">Tutor Dashboard</h1>
        <!-- Future content goes here -->
      </div>
    
  </div>
  
  
 
  


  
